<div class="grid">
    <button class="add-button" ng-if="grid.enableAddButton && grid.rowFunction" ng-click="grid.rowFunction(null, refresh)">New</button>
    <table class="shadow">
        <thead>
            <tr>
                <th ng-if="grid.rowFunction" class="text-center" style="width: 25px;">
                    <i class="{{$parent.grid.actionIcon}}"></i>
                </th>
                <th ng-repeat="(key, value) in grid.fields" ng-class="{'sortable': value.sortable, 'text-center': value.textCenter, 'asc': grid.sortColumn == (value.sortValue || key) && grid.sortDirection, 'desc': grid.sortColumn == (value.sortValue || key) && !grid.sortDirection }" style="width: {{100 * (value.columnSize || 1)}}%" ng-click="value.sortable ? sort(value.sortValue || key) : void(0)">{{value.label}}</th>
            </tr>
        </thead>
        <tbody ng-class="{'loading': loading}">
            <tr ng-repeat="row in grid.rows" ng-class="{'locked': grid.rowFunctionLock(row)}" ng-click="grid.rowFunction && !grid.rowFunctionLock(row) ? grid.rowFunction(row, refresh) : void(0)">
                <td class="column text-center" ng-if="grid.rowFunction">
                    <i ng-if="!$parent.grid.rowFunctionLock(row)" class="{{$parent.grid.actionIcon}}"></i>
                </td>
                <td class="column" ng-repeat="(key, value) in grid.fields" ng-class="{'text-center': value.textCenter }" ng-attr-title="{{value.tooltip ? unwrapProperty(row, key, value.propertyStructure) : null }}">
                    <span ng-if="!value.check">{{filterColumn(grid.fields[key].filter, unwrapProperty(row, key, value.propertyStructure), grid.fields[key].filterCriteria)}}</span>
                    <span ng-if="value.check && unwrapProperty(row, key, value.propertyStructure)" class="check"></span>
                </td>
                <td class="card">
                    <div ng-repeat="(key, value) in grid.fields" ng-attr-title="{{value.tooltip ? unwrapProperty(row, key, value.propertyStructure) : null }}">
                        <h3 ng-if="value.cardViewTitle">{{filterColumn(grid.fields[key].filter, unwrapProperty(row, key, value.propertyStructure), grid.fields[key].filterCriteria)}}</h3>
                        <p ng-if="!value.cardViewTitle">
                            <span class="field-label">{{value.label}}</span>
                            <span ng-if="!value.check">{{filterColumn(grid.fields[key].filter, unwrapProperty(row, key, value.propertyStructure), grid.fields[key].filterCriteria)}}</span>
                            <span ng-if="value.check && unwrapProperty(row, key, value.propertyStructure)" class="check"></span>
                        </p>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="99">
                    <ul ng-class="{'disabled': !grid.totalCount, 'loading': loading}">
                        <li class="first" ng-click="changePage(1)"></li>
                        <li class="prev" ng-click="changePage(grid.selectedPage - 1)"></li>
                        <li ng-repeat="page in grid.pages" ng-class="{'selected': page == grid.selectedPage && !filterChanged }" ng-click="changePage(page)">{{page}}</li>
                        <li class="next" ng-click="changePage(grid.selectedPage + 1)"></li>
                        <li class="last" ng-click="changePage(grid.totalPages)"></li>
                    </ul>
                    <span>
                        <span ng-if="!loading && grid.rows && grid.rows.length">{{grid.selectedPage * grid.pageSize - grid.pageSize + 1}} to {{grid.selectedPage * grid.pageSize - (grid.pageSize - grid.rows.length)}} of {{grid.totalCount}}</span>
                        <i class="refresh" ng-class="{'loading': loading}" ng-click="refresh()"></i>
                    </span>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
